/third_party/
/reports/midterm/notes/
/reports/build/
/reports/midterm/src/images/
/reports/midterm/src/build/
/docs/
/data/
/outputs/
/experiments/runs/demo-run-000/F
/experiments/runs/demo-run-000/plt
__pycache__/
/notebooks/ext_HEB/
*.pyc
